#homelogo
{
	width: 130px;
	margin: auto;
	margin-top: -15px;
}

#header
{
	text-align: center;
}

#hleft
{
	height: 100px;
	float: left;
	width: 20%;	
}
#hright
{
	height: 100px;
	float: left;
	width: 80%;	
	font-size: 80px;
	font-weight: 400;
	color: #ffd732;
	text-shadow: 1px 1px 5px #000000;
}
