.menu table
{
	margin: 30px auto;
	width: 700px;
}

#item
{
	text-align: left;
}

#price
{
	text-align: right;
}

.spicy
{
	background-color: #FF6440;
}

.vega
{
	background-color: #B5F36D;
}

.menu td
{
	padding: 4px;
	vertical-align: top;
}

.menu tr, .menu table
{
	border-collapse: collapse;
}

.menu tr:nth-child(odd)
{
	background-color: #FFE373
}

.menu tr:nth-child(even)
{
	background-color: #FFF2C0
}
