#colorbar
{
	width:100%;
	background-color: #FFCD00;
	box-shadow: 0px 1px 20px #444444;
	position:relative;
	z-index: 2;
}

#topbar 
{
	overflow:hidden;
	margin-bottom: 10px;
	max-width: 800px;
	margin: auto;
	height:45px;
	font-weight: 400;
}

#logo
{
	float: left;
	height: 40px;
	margin: 2px;
	margin-left: 10px;
}

#navbar
{
	margin-right: 20px;
	float: right;
	font-size: 16px;
}

#navbar li
{
	font-size: 18px;
	text-shadow: 1px 1px 20px #000000;
	transition: .1s;
}

#navbar ul 
{
	margin:0;
	padding:0;
	left:50%;
	text-align:center;
}

#navbar li:hover
{
	background-color: #FFD940;
	text-shadow: 1px 1px 5px #000000;
	transition: .1s;
}

#navbar ul li 
{
	right:50%;
}

#navbar ul, #navbar ul li
{
	list-style:none;
}

#navbar, #navbar ul, #navbar ul li
{
	float:right;
	position:relative;
}

#navbar li a
{
	padding:12px 12px;
	display: block;
}

#navbar a:link, #navbar a:visited, #navbar a:hover, #navbar a:active
{
	color: #FFFFFF;
	text-decoration: none;
}