table
{
	margin: 30px auto;
	width: 300px;
}

td
{
	padding: 4px;
	vertical-align: top;
	text-align: center;
}

tr, table
{
	border-collapse: collapse;
}

tr:nth-child(odd)
{
	background-color: #FFE373
}

tr:nth-child(even)
{
	background-color: #FFF2C0
}