/***
	http://colorschemedesigner.com/# @ 85 graden
	FFCD00	BFA330	A68500	FFD940	FFE373
	https://bitbucket.org/
	http://img.bhs4.com/c3/e/c3e44e013731411b0c57f41fe3e8932d70c90345_large.jpg
	http://www.contini.nl/html/menu_pizze.htm
	http://www.rendezvous.nl/#/menukaart/salades
 ***/

body
{
	background-color: #FFFBEC; /*FFE373*/
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	margin: 0px;
	min-width: 700px;
}

#mainpane 
{
	max-width: 800px;
	margin: auto;
	padding-top: 20px;
	background-color: #FFF2C0;
}

.text
{
	text-align: justify;
	padding: 5px 16px;
	font-size: 20px;
}


#footer
{
	text-align: right;
	padding-right: 5px;
	font-size: 10px;
}

a:link, a:visited 
{
	color: #444444;
	text-decoration: none;
}

a:hover, a:active 
{
	color: #ffd732;
	text-decoration: underline;
} 
